body {
  background-color: #212738;
}

* {
  font-family: "Montserrat", sans-serif;
}

.home-header {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fec05d;
  text-align: center;
  text-transform: uppercase;
}

.home-header h1 {
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 2em;
  margin-bottom: 0 !important;
}

#embedSlide {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
}

#embedSlide .wrapper {
  margin: 0 auto;
}

#embedSlide .wrapper iframe {
  display: block;
  margin: 0 auto;
}

#carousel {
  padding-bottom: 2em;
}

#carousel .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carousel #carouselExampleControls {
  max-height: 569px;
  max-width: 960px;
}

#carousel .carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em;
}

#carousel img {
  display: block;
  width: 100%;
  height: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  padding-bottom: 2em;
  background-color: #e5e5e5;
}

#menu .collapse-button {
  font-weight: bold;
}

#menu .section-title {
  color: #212738 !important;
}

#menu .card {
  border: none;
  background: transparent;
}

#menu .card .card-body {
  padding-top: 0;
}

#menu .collapse-button {
  color: black;
  opacity: 0.8;
}

#menu .list-group {
  background: transparent;
  border: none !important;
  margin: 0;
}

#menu .list-group .list-group-item {
  background: transparent;
  border: none;
}

#menu .list-group .list-group-item a {
  color: #25408a;
  text-decoration: none;
}

.section-title {
  padding: 2em 0em;
  color: #57c4e5;
  text-align: center;
  color: #fec05d;
  text-transform: uppercase;
}

.section-title h2 {
  font-weight: 600;
  letter-spacing: 0.1em;
}

#instructions {
  color: whitesmoke;
  opacity: 0.9;
  line-height: 2em;
}

#instructions h2 {
  margin-bottom: 0;
}

#instructions ol {
  margin-bottom: 2em;
}

#instructions li {
  font-size: 1.1em;
}

#carousel .gallery-cell {
  width: 66%;
  max-height: 569px;
  margin-right: 10px;
  background: #8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#carousel .gallery-cell > img {
  display: block;
  height: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

#sponsors {
  background-color: #e5e5e5;
}

#sponsors .section-title {
  color: #212738;
}

#sponsors .col {
  overflow: hidden;
}

#sponsors .col .wrapper {
  width: 100%;
  height: 100%;
  margin: 1em 0em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sponsors img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */